.button {
    background-image: url('../../assets/img/button/button-sprite.png'), url('../../assets/img/button/button-sprite.png'), url('../../assets/img/button/button-sprite.png');
    background-position: 0 -108px, 0 0, 0 -162px;
    background-repeat: no-repeat, repeat-x, no-repeat;
    height: 54px;
    z-index: 1;
}

.button-primary {
    height: 54px;
    width: 200px;
    background: url('../../assets/img/button/button-sprite.png') no-repeat 0 -108px, url('../../assets/img/button/button-sprite.png') no-repeat 0 -162px, url('../../assets/img/button/button-sprite.png') repeat-x 0 0;
    /* background-size: 50px 100%, 10rem 100%, 60% 100%; */
    background-size: 26%, 26%, 26%;
}

.button-default {
    
}

.button-secondary {
    
}