.menu-link, .menu-link:hover, .menu-link:active {
    color: #c4ae78 !important;
    text-decoration: none;
    cursor: pointer;
    padding: 10px 15px;
    font-family: Helvetica, Arial, sans-serif;
}

.nav-item {
    font-size: 13px;
}