.crafts-content {
    position: relative;
    z-index: 1;
    padding: 200px 0;
}

.crafts-hero-panel {
    opacity: 1;
    width: 100%;
    height: 650px;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.50) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: #22201E;
    opacity: 0.95;

    border: 1px solid #EAC48B;
}

.crafts-item-panel {
    padding: 0 20px;
    opacity: 1;
    width: 100%;
    height: 650px;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.50) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: #22201E;
    opacity: 0.95;

    border: 1px solid #EAC48B;
}

.crafts-hero-title {
    margin-top: -25px;
    width: 300px;
    height: 40px;
    position: relative;
    z-index: 1;
    margin-bottom: -15px;
    margin-left: auto;
    margin-right: auto;
    background: url('../../assets/img/player_card/table/hero-panel.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.crafts-item-title {
    width: 240px;
    height: 40px;
    position: relative;
    z-index: 1;
    margin-top: -25px;
    margin-left: auto;
    margin-right: auto;
    background: url('../../assets/img/player_card/table/item-panel.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.crafts-item-content {
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    width: 92%;
    height: 75%;
    border: 2px solid #31323C;
    border-radius: 5px;
    background: url('../../assets/img/lattice.png'), #0C0C0E;
    background-repeat: repeat;
    background-size: cover;
}

.crafts-hero-title, .crafts-item-title {
    color: #ecd19a;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    font-family: 'El Messiri';
}

.crafts-item {
    width: 60px;
    height: 60px;
    background: url('../../assets/img/ring.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.crafts-model {
    width: 250px;
    height: 450px;
    object-fit: cover;

}

.crafts-ability {
    margin: auto;
}

.crafts-ability li {
    margin: 6px 0;
    display: flex;
    align-items: center;
}

.crafts-ability-value {
    margin-left: 10px;
    font-size: 18px;
    font-weight: 600;
    font-family: 'El Messiri';
    color: #ecd19a;
}