.header-container {
    background-color: #222;
    background: linear-gradient(rgba(34, 34, 34, 0.95), rgba(34, 34, 34, 0.75));
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    z-index: 3;
    border-bottom: 1px solid #3f2f29;
}

.header-brand {
    cursor: pointer;
    background-image: url('../../../assets/img/logo/logo-compact.png');
    width: 50px;
    height: 40px;
    background-size: 50px auto;
}

.header-brand:hover {
    background-position: 0px -50px;
}