.carousel {
    position: relative;
    padding-top: 56%;
    filter: drop-shadow(0 0 10px #0003);
    perspective: 100px;
}

.carousel_viewport {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
}

.carousel_slide {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
}

.carousel_slide img {
    width: 100%;
    height: 100%;
}

.carousel_snapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
}

.carousel:hover .carousel_snapper,
.carousel:focus-within .carousel_snapper {
    animation-name: none;
}

.carousel_navigation {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
}

.carousel_navigation-list,
.carousel_navigation-item {
    display: inline-block;
    padding: 10px 5px;
}

.carousel_navigation-button {
    display: inline-block;
    border: 5px double #ecd19a;
    width: 10px;
    height: 10px;
    background-clip: content-box;
    border-radius: 50%;
    font-size: 0;
    background-color: rgba(0,0,0,0);
    cursor: pointer;
    transition: transform 0.1s;
}

.carousel-corner {
    background: url('../../assets/img/carousel/modal.png') no-repeat;
    position: absolute;
    height: 18px;
    width: 18px;
}

.carousel-border {
    position: absolute;
}

.carousel-corner-top-left {
    background-position: -1px -1px;
    left: -18px;
    top: -18px;
}

.carousel-corner-top-right {
    background-position: -19px -1px;
    right: -18px;
    top: -18px;
}

.carousel-corner-bottom-left {
    background-position: -1px -19px;
    bottom: -18px;
    left: -18px;
}

.carousel-corner-bottom-right {
    background-position: -19px -19px;
    bottom: -18px;
    right: -18px;
}

.carousel-border-top {
    background: url('../../assets/img/carousel/modal-frame.png') 0 0 repeat-x;
    height: 18px;
    left: 0;
    right: 0;
    top: -18px;
}

.carousel-border-bottom {
    background: url('../../assets/img/carousel/modal-frame.png') 0 -18px repeat-x;
    bottom: -18px;
    height: 18px;
    left: 0;
    right: 0;
}

.carousel-border-left {
    background: url('../../assets/img/carousel/modal.png') -254px 0 repeat-y;
    bottom: 0;
    left: -18px;
    top: 0;
    width: 18px;
}

.carousel-border-right {
    background: url('../../assets/img/carousel/modal.png') -272px 0 repeat-y;
    bottom: 0;
    right: -18px;
    top: 0;
    width: 18px;
}

.slick-dots {
    bottom: 50px;
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.slick-dots li {
    width: 10px !important;
    height: 10px !important;
    border-radius: 10px;
    border: 5px double #ecd19a;
}

.slick-dots .slick-active {
    width: 12px !important;
    height: 12px !important;
    background-color: #000000;
}

.slick-prev {
    z-index: 1000;
    left: -70px;
    width: 86px;
    height: 56px;
    transition: hover .2s;
    background: url('../../assets/img/components/button/carousel-sprite.png') no-repeat 0 0 !important;
}

.slick-prev:hover {
    background: url('../../assets/img/components/button/carousel-sprite.png') no-repeat -86px 0 !important;
}

.slick-prev:before {
    content: '';
}

.slick-next {
    opacity: 1;
    display: block !important;
    z-index: 1000 !important;
    width: 86px;
    height: 56px;
    right: -70px;
    transition: opacity .2s;
    background: url('../../assets/img/components/button/carousel-sprite.png') no-repeat -172px 0 !important;
}

.slick-next:hover {
    background: url('../../assets/img/components/button/carousel-sprite.png') no-repeat -258px 0 !important;
}

.slick-next:before {
    content: '';
}